@{
    ViewBag.Title = "Review";
}
<div class="TituloRev" align="center"><h2>@ViewBag.Title.</h2></div>
<h3>@ViewBag.Message</h3>
<div><article class="Articulo1">@ViewBag.Titulo @ViewBag.descripcion</article></div>
<p>Use this area to provide additional information.</p>