USE [master]
GO
/****** Object:  Database [StrataGEM]    Script Date: 3/12/2019 09:09:42 ******/
CREATE DATABASE [StrataGEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StrataGEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\StrataGEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StrataGEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\StrataGEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StrataGEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StrataGEM]
GO
USE [StrataGEM]
GO
/****** Object:  User [alumno]    Script Date: 3/12/2019 09:09:42 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[IdGame] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[PromedioValor] [int] NULL,
	[Destacado] [bit] NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[IdGame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordHistories]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordHistories](
	[UserId] [nvarchar](128) NOT NULL,
	[PasswordHash] [nvarchar](128) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.PasswordHistories] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PasswordHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id_Reseña] [int] IDENTITY(1,1) NOT NULL,
	[Id_Juego] [int] NOT NULL,
	[Puntaje_Dado] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[User_Id] [nvarchar](128) NOT NULL,
	[LikeDislike] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id_Reseña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Name]) VALUES (1, N'Account1')
INSERT [dbo].[Accounts] ([Id], [Name]) VALUES (2, N'Account2')
INSERT [dbo].[Accounts] ([Id], [Name]) VALUES (3, N'Account3')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Moderador')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'User')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'01394bfe-141a-442d-93d1-d4a37f11a965', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'258e982e-6c5c-4002-bb57-cd3a94bbebc7', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6ece9f5b-eead-4175-916c-9680e4eaed27', N'3')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsActive], [DisplayName], [AccountId]) VALUES (N'01394bfe-141a-442d-93d1-d4a37f11a965', N'fu@gmail.com', 0, N'ABc/4WbypUxXWJsTVGoGWXKw7xCZPzzxi0CQbLGmRr3mdtcOuG2974B7kWwSAN/xrA==', N'3028a1cf-3525-464b-bc67-f8d1ddd69e77', NULL, 0, 0, NULL, 1, 0, N'Fuck You', 1, N'Fuck You', 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsActive], [DisplayName], [AccountId]) VALUES (N'258e982e-6c5c-4002-bb57-cd3a94bbebc7', N'ezeoyhambure@gmail.com', 0, N'AAF1EMSDAweiRZVrRQdear4HdVd/3drRPQ/pX3Rf1i+1EkbCflyUhrcOM2qjdnLwAg==', N'3e57f706-5dbc-4e9b-bc55-7f80ae40b8b9', NULL, 0, 0, NULL, 1, 0, N'ultra_slimer', 1, N'ultra_slimer', 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsActive], [DisplayName], [AccountId]) VALUES (N'6ece9f5b-eead-4175-916c-9680e4eaed27', N'gftaboada@gmail.com', 0, N'AD75Ywcs9v8mI1v8LMKUja/zEVUfFqKBh4hEI+NJd//5HNXKaiOAK0pbSNngT/1MkQ==', N'ae37d4bb-af1d-4025-bf61-d97a3dfe5bf6', NULL, 0, 0, NULL, 1, 0, N'Taboada', 1, N'Taboada', 1)
SET IDENTITY_INSERT [dbo].[Games] ON 

INSERT [dbo].[Games] ([IdGame], [Name], [Image], [Description], [PromedioValor], [Destacado]) VALUES (3, N'Super Smash Bros. Ultimate', N'SmashUlt.png', N'Super Smash Bros. Ultimate, como otros videojuegos de la serie Super Smash Bros., presenta un crossover de luchadores de diferentes franquicias de Nintendo ?como las series de videojuegos de Mario y Metroid? asi como combatientes iconicos de propiedades de terceros, tales como Sonic the Hedgehog, Pac-Man, Solid Snake y Mega Man.', 52, 0)
SET IDENTITY_INSERT [dbo].[Games] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id_Reseña], [Id_Juego], [Puntaje_Dado], [Descripcion], [User_Id], [LikeDislike], [UserName]) VALUES (1, 1, 69, N'xdxd', N'01394bfe-141a-442d-93d1-d4a37f11a965', 100, N'Fuck You')
INSERT [dbo].[Reviews] ([Id_Reseña], [Id_Juego], [Puntaje_Dado], [Descripcion], [User_Id], [LikeDislike], [UserName]) VALUES (2, 2, 45, N'No tan buenardo como dicen', N'258e982e-6c5c-4002-bb57-cd3a94bbebc7', 1, N'ultra_slimer')
INSERT [dbo].[Reviews] ([Id_Reseña], [Id_Juego], [Puntaje_Dado], [Descripcion], [User_Id], [LikeDislike], [UserName]) VALUES (3, 3, 100, N'SI', N'6ece9f5b-eead-4175-916c-9680e4eaed27', 2, N'Taboada')
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/12/2019 09:09:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/12/2019 09:09:42 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/12/2019 09:09:42 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 3/12/2019 09:09:42 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/12/2019 09:09:42 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountId]    Script Date: 3/12/2019 09:09:42 ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[AspNetUsers]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/12/2019 09:09:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/12/2019 09:09:42 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[PasswordHistories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [AccountId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Accounts_AccountId]
GO
ALTER TABLE [dbo].[PasswordHistories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PasswordHistories_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordHistories] CHECK CONSTRAINT [FK_dbo.PasswordHistories_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_AspNetUsers] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_AspNetUsers]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Games] FOREIGN KEY([Id_Juego])
REFERENCES [dbo].[Games] ([IdGame])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Games]
GO
/****** Object:  StoredProcedure [dbo].[AgregarJuego]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarJuego]
	@Name varchar, @Image varchar, @Description varchar, @Destac bit
AS
BEGIN
	if @Destac = 'true'
		update Games SET Destacado = 'false' where Destacado = 'true'

	INSERT INTO Games(Name,Image, Description, Destacado) values (@Name, @Image, @Description, @Destac)

END
GO
/****** Object:  StoredProcedure [dbo].[AgregarReview]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarReview] 
	@IdJ int,
	@Points int,
	@Desc nvarchar (max),
	@UserId nvarchar (max),
	@UserName nvarchar (max)
AS
BEGIN
	INSERT INTO Reviews(Id_Juego, Puntaje_Dado, Descripcion, User_Id, LikeDislike, UserName) values (@IdJ, @Points, @Desc, (SELECT Id FROM AspNetUsers WHERE Id = @UserId), 0, @UserName)
	declare @Ids nvarchar
	Set @Ids = @UserId
	Exec NombreDeUserXReview @Ids
END
GO
/****** Object:  StoredProcedure [dbo].[AssignRole]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AssignRole]
@IdUser nvarchar(max)
as
INSERT INTO AspNetUserRoles (UserId, RoleId) Values (@IdUser, 2)
GO
/****** Object:  StoredProcedure [dbo].[CambiarDestacado]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CambiarDestacado]
	@Id int
AS
BEGIN
		update Games SET Destacado = 'false' where Destacado = 'true'
		update Games SET Destacado = 'true' where IdGame = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarRol]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarRol]
	@IdRole int, @IdUser int
AS
BEGIN

	
	update AspNetUserRoles SET RoleId = @IdRole where UserId = @IdUser;


END
GO
/****** Object:  StoredProcedure [dbo].[EliminarJuego]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarJuego]
	@Id int
AS
BEGIN

	
	DELETE FROM Games where IdGame = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[EliminarReview]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarReview]
	@Id int
AS
BEGIN

	
	DELETE FROM Reviews where Id_Reseña = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuario]
	@IdUser int
AS
BEGIN

	
	DELETE FROM AspNetUsers where Id = @IdUser
	DELETE FROM AspNetUserRoles where UserId = @IdUser

END
GO
/****** Object:  StoredProcedure [dbo].[NombreDeUserXReview]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NombreDeUserXReview]

@IdUser nvarchar(128)
AS
BEGIN

declare @nombre int
	set @nombre = (SELECT DisplayName AS Namee FROM AspNetUsers where Id = @IdUser)
	UPDATE Reviews SET UserName = @nombre where User_Id = @IdUser
END
GO
/****** Object:  StoredProcedure [dbo].[PromedioReviewsXJuego]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PromedioReviewsXJuego]
	@IdJuego int
AS
BEGIN

	declare @Promedio int
	set @Promedio = (SELECT AVG (Puntaje_Dado) AS PromedioReviews FROM Reviews where Id_Juego = @IdJuego)
	UPDATE Games SET PromedioValor = @Promedio where IdGame = @IdJuego

END
GO
/****** Object:  StoredProcedure [dbo].[Top5Reseñas]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Top5Reseñas]
	
AS
BEGIN


SELECT TOP 5 * FROM Reviews ORDER BY LikeDislike


END
GO
/****** Object:  StoredProcedure [dbo].[TraerJuego]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TraerJuego]
	@Id int
AS
BEGIN
	select * from Games where IdGame = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[TraerJuegoPop]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerJuegoPop]
	
AS
BEGIN
	select * from Games where Destacado = 'true'
END
GO
/****** Object:  StoredProcedure [dbo].[TraerJuegos]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TraerJuegos]
	
AS
BEGIN
	select * from Games
END
GO
/****** Object:  StoredProcedure [dbo].[TraerReseñas]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerReseñas] 
	@Id int
AS
BEGIN
	
	select * from Reviews where Id_Juego = @Id;

END
GO
/****** Object:  StoredProcedure [dbo].[TraerReview]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerReview]
	@IdR int
AS
BEGIN
	select * from Reviews where Id_Reseña = @IdR;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateReview]    Script Date: 3/12/2019 09:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateReview]
@Desc nvarchar(max),
@Punt int,
@ID int
AS
UPDATE StrataGEM.dbo.Reviews SET Descripcion = @Desc, Puntaje_Dado = @Punt WHERE Id_Reseña = @ID
GO
USE [master]
GO
