@model strataGEM.Models.Review

@{
    ViewBag.Title = "Editar";
}
<div class="container body-content">
    <h2>Editar</h2>
    @Html.Partial("_Verificacion", Model)
    
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
