@using strataGEM.Models;
@{
    ViewBag.Title = "Prueba";
}
<h2>Prueba</h2>
@foreach (Clases.Review a in Model)
{
    <h2>@a.Review_Description</h2>
    <h3>@a.Review_UserName @a.Review_Likes</h3>
    @Html.Partial("_PerUser", new ViewDataDictionary { {"n", a.Review_IdUser }, {"f", a.Review_Id } })
}