@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
@Html.AntiForgeryToken()

<nav class="top-nav-area w-100">
    <div class="user-panel">
        @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) /
        <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
    </div>
    <!--<div><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></div>-->
</nav>
    }
}
else
{
<nav class="top-nav-area">
    <div class="user-panel">
        @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) /
        @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</nav>
}