@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    string b = User.Identity.GetUserId();
    int aaaa = (int)ViewData["f"];
    if (b == (string)ViewData["n"])
    {
        <p>Eliminar</p>
        <a href="@Html.Action("Edit", "Review", new { id = aaaa})">Editar</a>
    }
}
else
{
    <p>Registrate para cualquier cosa</p>
}
