@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    string a = User.Identity.GetUserId();
    if (a == (string)ViewData["n"])
    {
        <a href=@Url.Action("Editar", "Review", new { id = Model.Review_Id})>Editar</a>
        <p>Eliminar</p>
    }
}
else
{
    <p>Registrate para cualquier cosa</p>
}
